[submodule "LSEDRepo"]
	path = LSED
	url = git@github.com:mateuszbugaj/LSED.git
[submodule "CartesianManipulator"]
	path = CartesianManipulator
	url = git@github.com:mateuszbugaj/CartesianManipulator.git
